@import "base/_variables.scss";
@import "base/_mixins.scss";
@import "base/_general.scss";

* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

@import "blocks/_header.scss";
@import "blocks/_firstScreen.scss";
@import "blocks/_aboutUs.scss";
@import "base/_media.scss";