.header {
    min-height: 70px;
    background-color: rgb(255, 255, 255);

    .head>div {
        max-width: 950px;
        width: 33%;
        display: flex;
        align-items: center;

        &:nth-child(1) {
            justify-content: start;
        }

        &:nth-child(2) {
            justify-content: center;
        }

        &:nth-child(3) {
            justify-content: end;
        }
    }

    .head {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__hamburger {
            width: 30px;
            span {
                width: 100%;
                border-radius: 5px;
                height: 6px;
                margin: 2px 10px;
                background-color: $darkpink;
            }
        }

        &__logo {
            margin: 0 auto;

            img {
                height: 50px;
            }
        }

        &__links {
            justify-content: end;

            a {
                margin: 0 2px;
                font-size: 30px;
                text-decoration: none;
                color: $pink;
            }
        }
    }
}