@media (max-width: 992px) {
    .aboutUS {
        &__descr {
            width: 750px;
        }
    }

    .contactUs {
        &__block {
            width: 335px;
        }

        &__descr {
            font-size: 25px;
        }

        &__numbers {
            font-size: 25px;
        }
    }
}

@media (max-width: 767px) {
    header {
        .container {
            min-width: 100%;
        }

        .head {
            &__links {
                margin-right: 10px;
            }
        }
    }

    .container {
        max-width: 650px;
    }


    .aboutUS {
        &__descr {
            width: 570px;
        }
    }

    .contactUs {

        &__block {
            width: 250px;
        }
    }

}

@media (max-width: 660px) {
    .container {
        max-width: 590px;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 5500px;
    }
}

@media (max-width: 575px) {
    header {
        .container {
            min-width: 100%;
        }

        .head {
            &__links {
                display: none;
            }
        }
    }

    .container {
        max-width: 500px;
    }

    .aboutUS {
        &__descr {
            width: 350px;
        }
    }

    .contactUs {
        &__wrapper {
            flex-direction: column;
        }

        &__block {
            width: 350px;
        }

        &__descr {
            text-indent: 0;
            text-align: center;
        }

    }
}


@media (max-width: 425px) {
    header {
        .container {
            min-width: 100%;
        }

        .head {
            &__links {
                display: none;
            }
        }
    }

    .container {
        max-width: 350px;
    }

    .firstScreen {
        .title {
            width: 330px;
        }
    }

    .aboutUS {
        &__descr {
            width: 330px;
        }
    }

    .contactUs {
        &__wrapper {
            flex-direction: column;
        }

        &__block {
            width: 330px;
        }

        &__descr {
            text-indent: 0;
            text-align: center;
        }
    }
}